html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Arimo', sans-serif;
  color: $color-dark;
}

p {
  & + p {
    margin-top: 1em;
  }
  font-size: .625rem;
  @include breakpoint(medium) {
    font-size: 1rem;
  }
}