.c-color-box {
  position: relative;
  width: 50%;
  aspect-ratio: 720 / 380;
  background-color: $color-primary;
  &__inner {
    @include boxPadding;
    display: flex;
    flex-direction: column;
    height: 100%;
    & > * {
      @include typographyHeadline;
    }
  }
}