.c-color-box {
  position: relative;
  width: 50%;
  min-height: 11.25rem;
  background-color: $color-primary;
  @include breakpoint(medium) {
    aspect-ratio: 720 / 380;
  }
  &__inner {
    @include boxPadding;
    display: flex;
    flex-direction: column;
    height: 100%;
    & > * {
      @include typographyHeadline;
    }
  }
}