.c-company {
  &__list-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: $color-light;
    @include breakpoint(medium) {
      display: inital;
      background-color: $color-primary;
    }
  }
  &__list {
    @include resetList;
    padding: 0 1.25rem;
    @include breakpoint(medium) {
      @include boxPadding;
    }
  }
  &__item {
    line-height: 1;
    @include breakpoint(medium) {
      line-height: inital;
    }
  }
  &__year {
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: .8125rem;
    line-height: 1.153em;
    @include breakpoint(medium) {
      font-size: 2.1875rem;
      line-height: 1.142em;
    }
    &--active {
      font-weight: 700;
    }
  }
  &__year-description {
    margin: 1em 0;
    display: none;
    font-style: normal;
    font-weight: 700;
    font-size: .625rem;
    line-height: 138.49%;
    & > p {
      font-style: normal;
      font-weight: 700;
      font-size: .625rem;
      line-height: 138.49%; 
    }
    &--open {
      @include breakpoint(medium) {
        display: block;
      }
    }
    @include breakpoint(medium) {
      font-weight: 400;
      font-size: 2.1875rem;
      line-height: 1.142em;
      & > p {
        font-weight: 400;
        font-size: 2.1875rem;
        line-height: 1.142em;
      }
    }
  }
  &__text-container {
    padding: 1.1875rem 1.25rem 2.8125rem 1.125rem;
    @include breakpoint(medium) {
      padding: 0 2.8125rem 2.8125rem 1.875rem;
    }
    &--hidden {
      @include breakpoint(small) {
        display: none;
      }
    }
  }
  &__text-container-alt {
    display: none;
    padding: 1.1875rem 1.25rem 2.8125rem 1.125rem;
    @include breakpoint(medium) {
      padding: 0 2.8125rem 2.8125rem 1.875rem;
    }
    &--visible {
      display: block;
      @include breakpoint(medium) {
        display: none!important;
      }
    }
  }
  &__years-container {
    background-color: $color-primary;
  }
}