.c-footer {
  background-color: $color-dark;
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem .9375rem 1rem 19px;
    @include breakpoint(medium) {
      padding: 2.25rem 2.8125rem;
    };
  }
  &__supporters {
    width: 100%;
    margin-bottom: 4rem;
    color: $color-medium;
    & p {
      font-style: normal;
      font-weight: 400;
      font-size: .9375rem;
      line-height: 1.133em;
      @include breakpoint(medium) {
        font-size: 2.1875rem;
        line-height: 1.142em;
      }
    }
    &--alt {
      & p+p {
        margin-top: 3rem;
        font-size: 1rem;
        line-height: 1.125em;
      }
    }
  }
  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    @include breakpoint(medium) {
      margin-top: 1em;
    }
    @include breakpoint(large) {
      margin-top: 0;
    }
    & > * + * {
      margin-left: 1rem;
      @include breakpoint(medium) {
        margin-left: 4rem;
      }
      @include breakpoint(large) {
        margin-left: 4rem;
      }
    }
  }
  &__link {
    color: $color-medium;
    font-style: normal;
    font-weight: 400;    
    font-size: .9375rem;
    line-height: 1.333em;
    letter-spacing: 0.005em;
    text-decoration: none;
    @include breakpoint(medium) {
      font-size: 3.125rem;
      line-height: 1.14em;
    }
    &:hover {
      color: $color-primary;
    }
  }
  &__bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include breakpoint(medium) {
      flex-direction: column;
    }
    @include breakpoint(large) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}