.c-header {
  // color: red;
  &__inner {
    padding: 1.3125rem 1.1875rem 0 1.1875rem;
    @include breakpoint(medium) {
      padding: 2.75rem 2.9375rem 2.4375rem 2.9375rem;
    }
  }
  &__menu-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}